## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

The target variable of the model is:\
"IS_SUCCESSFUL"

The features variables are:\
'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',\
'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',\
'SPECIAL_CONSIDERATIONS', 'ASK_AMT'


The goal is to create a binary classification model that can predict if an Alphabet Soup-funded organization will be successful based on the features in the dataset.

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [15]:
# Determine the number of unique values in each column.
nunique_column = application_df.nunique()

print(nunique_column)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_cutoff_value = 250
application_types_to_replace = application_counts[application_counts < application_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [35]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff_value = 1750
classifications_to_replace = classification_counts[classification_counts < classification_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

In [43]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [79]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X.shape[1]

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=128, activation="softmax", input_dim=input_dim))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="linear"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 128)               5632

 dense_28 (Dense)            (None, 64)                8256

 dense_29 (Dense)            (None, 1)                 65

=================================================================
Total params: 13953 (54.50 KB)
Trainable params: 13953 (54.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [80]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [81]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

804/804 [==============================] - 1s 923us/step - loss: 0.5835 - accuracy: 0.7064
Epoch 2/100
804/804 [==============================] - 1s 913us/step - loss: 0.5555 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 1s 927us/step - loss: 0.5517 - accuracy: 0.7315
Epoch 4/100
804/804 [==============================] - 1s 930us/step - loss: 0.5484 - accuracy: 0.7328
Epoch 5/100
804/804 [==============================] - 1s 916us/step - loss: 0.5476 - accuracy: 0.7339
Epoch 6/100
804/804 [==============================] - 1s 970us/step - loss: 0.5463 - accuracy: 0.7335
Epoch 7/100
804/804 [==============================] - 1s 920us/step - loss: 0.5453 - accuracy: 0.7351
Epoch 8/100
804/804 [==============================] - 1s 928us/step - loss: 0.5448 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 1s 897us/step - loss: 0.5437 - accuracy: 0.7347
Epoch 10/100
804/804 [==============================] - 1s 925us/step - loss: 0.5435 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 1s 901us/step - loss: 0.5428 - accuracy: 0.7350
Epoch 12/100
804/804 [==============================] - 1s 914us/step - loss: 0.5424 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 1s 928us/step - loss: 0.5420 - accuracy: 0.7359
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 15/100
804/804 [==============================] - 1s 887us/step - loss: 0.5411 - accuracy: 0.7360
Epoch 16/100
804/804 [==============================] - 1s 962us/step - loss: 0.5411 - accuracy: 0.7368
Epoch 17/100
804/804 [==============================] - 1s 894us/step - loss: 0.5403 - accuracy: 0.7367
Epoch 18/100
804/804 [==============================] - 1s 878us/step - loss: 0.5406 - accuracy: 0.7376
Epoch 19/100
804/804 [==============================] - 1s 908us/step - loss: 0.5398 - accuracy: 0.7379
Epoch 20/100
804/804 [==============================] - 1s 960us/step - loss: 0.5400 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 1s 921us/step - loss: 0.5394 - accuracy: 0.7371
Epoch 22/100
804/804 [==============================] - 1s 946us/step - loss: 0.5391 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 1s 931us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 24/100
804/804 [==============================] - 1s 937us/step - loss: 0.5389 - accuracy: 0.7389
Epoch 25/100
804/804 [==============================] - 1s 933us/step - loss: 0.5387 - accuracy: 0.7378
Epoch 26/100
804/804 [==============================] - 1s 967us/step - loss: 0.5385 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 1s 957us/step - loss: 0.5385 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 1s 954us/step - loss: 0.5382 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 1s 990us/step - loss: 0.5381 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 1s 944us/step - loss: 0.5379 - accuracy: 0.7382
Epoch 31/100
804/804 [==============================] - 1s 897us/step - loss: 0.5378 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 1s 883us/step - loss: 0.5379 - accuracy: 0.7380
Epoch 33/100
804/804 [==============================] - 1s 927us/step - loss: 0.5372 - accuracy: 0.7377
Epoch 34/100
804/804 [==============================] - 1s 934us/step - loss: 0.5370 - accuracy: 0.7385
Epoch 35/100
804/804 [==============================] - 1s 938us/step - loss: 0.5374 - accuracy: 0.7389
Epoch 36/100
804/804 [==============================] - 1s 907us/step - loss: 0.5372 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 1s 919us/step - loss: 0.5371 - accuracy: 0.7392
Epoch 38/100
804/804 [==============================] - 1s 899us/step - loss: 0.5374 - accuracy: 0.7381
Epoch 39/100
804/804 [==============================] - 1s 937us/step - loss: 0.5366 - accuracy: 0.7383
Epoch 40/100
804/804 [==============================] - 1s 998us/step - loss: 0.5364 - accuracy: 0.7387
Epoch 41/100
804/804 [==============================] - 1s 931us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 1s 917us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 1s 919us/step - loss: 0.5362 - accuracy: 0.7387
Epoch 44/100
804/804 [==============================] - 1s 912us/step - loss: 0.5364 - accuracy: 0.7394
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 1s 993us/step - loss: 0.5362 - accuracy: 0.7387
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 1s 983us/step - loss: 0.5358 - accuracy: 0.7382
Epoch 49/100
804/804 [==============================] - 1s 939us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 50/100
804/804 [==============================] - 1s 987us/step - loss: 0.5357 - accuracy: 0.7396
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 53/100
804/804 [==============================] - 1s 978us/step - loss: 0.5355 - accuracy: 0.7400
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 55/100
804/804 [==============================] - 1s 925us/step - loss: 0.5357 - accuracy: 0.7386
Epoch 56/100
804/804 [==============================] - 1s 991us/step - loss: 0.5353 - accuracy: 0.7404
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 58/100
804/804 [==============================] - 1s 935us/step - loss: 0.5352 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 1s 967us/step - loss: 0.5350 - accuracy: 0.7392
Epoch 60/100
804/804 [==============================] - 1s 902us/step - loss: 0.5349 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 1s 925us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 62/100
804/804 [==============================] - 1s 919us/step - loss: 0.5348 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 1s 892us/step - loss: 0.5349 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 1s 971us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 960us/step - loss: 0.5348 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 1s 915us/step - loss: 0.5348 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 1s 919us/step - loss: 0.5348 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 1s 920us/step - loss: 0.5348 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 1s 918us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 1s 919us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 1s 937us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 1s 935us/step - loss: 0.5343 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 1s 911us/step - loss: 0.5346 - accuracy: 0.7390
Epoch 74/100
804/804 [==============================] - 1s 939us/step - loss: 0.5342 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 1s 918us/step - loss: 0.5342 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 1s 928us/step - loss: 0.5341 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 1s 937us/step - loss: 0.5344 - accuracy: 0.7397
Epoch 78/100
804/804 [==============================] - 1s 932us/step - loss: 0.5341 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 1s 915us/step - loss: 0.5339 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 1s 934us/step - loss: 0.5341 - accuracy: 0.7396
Epoch 81/100
804/804 [==============================] - 1s 912us/step - loss: 0.5340 - accuracy: 0.7396
Epoch 82/100
804/804 [==============================] - 1s 893us/step - loss: 0.5342 - accuracy: 0.7394
Epoch 83/100
804/804 [==============================] - 1s 881us/step - loss: 0.5338 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 1s 941us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 1s 918us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 1s 912us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 1s 941us/step - loss: 0.5338 - accuracy: 0.7397
Epoch 88/100
804/804 [==============================] - 1s 966us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 90/100
804/804 [==============================] - 1s 983us/step - loss: 0.5337 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 914us/step - loss: 0.5336 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 1s 928us/step - loss: 0.5336 - accuracy: 0.7395
Epoch 95/100
804/804 [==============================] - 1s 963us/step - loss: 0.5332 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 1s 961us/step - loss: 0.5336 - accuracy: 0.7399
Epoch 97/100
804/804 [==============================] - 1s 934us/step - loss: 0.5333 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 1s 921us/step - loss: 0.5332 - accuracy: 0.7399
Epoch 99/100
804/804 [==============================] - 1s 942us/step - loss: 0.5333 - accuracy: 0.7396
Epoch 100/100
804/804 [==============================] - 1s 931us/step - loss: 0.5333 - accuracy: 0.7404

In [75]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5629 - accuracy: 0.7276 - 258ms/epoch - 964us/step
Loss: 0.5628994107246399, Accuracy: 0.727580189704895

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

In [85]:
def create_model(hp):
    
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','linear','softmax'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=65,
        max_value=125,
        step=5), activation=activation, input_dim=input_dim))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=65,
            max_value=125,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [86]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [87]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 23 Complete [00h 00m 22s]
val_accuracy: 0.7244315147399902

Best val_accuracy So Far: 0.731195330619812
Total elapsed time: 00h 02m 47s

Search: Running Trial #24

Value             |Best Value So Far |Hyperparameter
linear            |softmax           |activation
120               |115               |first_units
5                 |2                 |num_layers
6                 |11                |units_0
21                |16                |units_1
1                 |26                |units_2
26                |1                 |units_3
11                |6                 |units_4
20                |3                 |tuner/epochs
0                 |0                 |tuner/initial_epoch
0                 |2                 |tuner/bracket
0                 |0                 |tuner/round

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7136 - val_loss: 0.5799 - val_accuracy: 0.7134
Epoch 2/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5821 - accuracy: 0.7179 - val_loss: 0.5855 - val_accuracy: 0.7243
Epoch 3/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5813 - accuracy: 0.7197 - val_loss: 0.5798 - val_accuracy: 0.7222
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5809 - accuracy: 0.7188 - val_loss: 0.5797 - val_accuracy: 0.7227
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5806 - accuracy: 0.7204 - val_loss: 0.5781 - val_accuracy: 0.7139
Epoch 6/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5805 - accuracy: 0.7189 - val_loss: 0.5774 - val_accuracy: 0.7210
Epoch 7/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5806 - accuracy: 0.7200 - val_loss: 0.5765 - val_accuracy: 0.7235
Epoch 8/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5797 - accuracy: 0.7217 - val_loss: 0.5777 - val_accuracy: 0.7223
Epoch 9/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5795 - accuracy: 0.7189 - val_loss: 0.5804 - val_accuracy: 0.7214
Epoch 10/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5800 - accuracy: 0.7194 - val_loss: 0.5768 - val_accuracy: 0.7197
Epoch 11/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.7191 - val_loss: 0.5780 - val_accuracy: 0.7234
Epoch 12/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5796 - accuracy: 0.7205 - val_loss: 0.5777 - val_accuracy: 0.7216
Epoch 13/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5795 - accuracy: 0.7207 - val_loss: 0.5780 - val_accuracy: 0.7235
Epoch 14/20
790/804 [============================>.] - ETA: 0s - loss: 0.5793 - accuracy: 0.7205

In [ ]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

In [ ]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")