## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

The target variable of the model is:\
"IS_SUCCESSFUL"

The features variables are:\
'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',\
'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',\
'SPECIAL_CONSIDERATIONS', 'ASK_AMT'


The goal is to create a binary classification model that can predict if an Alphabet Soup-funded organization will be successful based on the features in the dataset.

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [15]:
# Determine the number of unique values in each column.
nunique_column = application_df.nunique()

print(nunique_column)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_cutoff_value = 250
application_types_to_replace = application_counts[application_counts < application_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [35]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff_value = 1750
classifications_to_replace = classification_counts[classification_counts < classification_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

In [43]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [60]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X.shape[1]

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu", input_dim=input_dim))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                2816

 dense_13 (Dense)            (None, 16)                1040

 dense_14 (Dense)            (None, 1)                 17

=================================================================
Total params: 3873 (15.13 KB)
Trainable params: 3873 (15.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [61]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 891us/step - loss: 0.5752 - accuracy: 0.7185
Epoch 2/100
804/804 [==============================] - 1s 846us/step - loss: 0.5566 - accuracy: 0.7287
Epoch 3/100
804/804 [==============================] - 1s 834us/step - loss: 0.5531 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 1s 832us/step - loss: 0.5509 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 1s 842us/step - loss: 0.5496 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 835us/step - loss: 0.5482 - accuracy: 0.7331
Epoch 7/100
804/804 [==============================] - 1s 861us/step - loss: 0.5480 - accuracy: 0.7328
Epoch 8/100
804/804 [==============================] - 1s 865us/step - loss: 0.5471 - accuracy: 0.7334
Epoch 9/100
804/804 [==============================] - 1s 872us/step - loss: 0.5468 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 1s 845us/step - loss: 0.5456 - accuracy: 0.7337
Epoch 11/100
804/804 [==============================] - 1s 837us/step - loss: 0.5459 - accuracy: 0.7335
Epoch 12/100
804/804 [==============================] - 1s 852us/step - loss: 0.5446 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 1s 838us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 1s 842us/step - loss: 0.5439 - accuracy: 0.7345
Epoch 15/100
804/804 [==============================] - 1s 820us/step - loss: 0.5441 - accuracy: 0.7351
Epoch 16/100
804/804 [==============================] - 1s 854us/step - loss: 0.5437 - accuracy: 0.7354
Epoch 17/100
804/804 [==============================] - 1s 874us/step - loss: 0.5431 - accuracy: 0.7355
Epoch 18/100
804/804 [==============================] - 1s 867us/step - loss: 0.5428 - accuracy: 0.7356
Epoch 19/100
804/804 [==============================] - 1s 900us/step - loss: 0.5425 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 1s 853us/step - loss: 0.5425 - accuracy: 0.7346
Epoch 21/100
804/804 [==============================] - 1s 828us/step - loss: 0.5424 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 1s 820us/step - loss: 0.5422 - accuracy: 0.7357
Epoch 23/100
804/804 [==============================] - 1s 834us/step - loss: 0.5426 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 1s 855us/step - loss: 0.5418 - accuracy: 0.7362
Epoch 25/100
804/804 [==============================] - 1s 820us/step - loss: 0.5415 - accuracy: 0.7370
Epoch 26/100
804/804 [==============================] - 1s 821us/step - loss: 0.5410 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 1s 862us/step - loss: 0.5414 - accuracy: 0.7371
Epoch 28/100
804/804 [==============================] - 1s 870us/step - loss: 0.5408 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 847us/step - loss: 0.5407 - accuracy: 0.7368
Epoch 30/100
804/804 [==============================] - 1s 872us/step - loss: 0.5409 - accuracy: 0.7366
Epoch 31/100
804/804 [==============================] - 1s 823us/step - loss: 0.5407 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 1s 846us/step - loss: 0.5404 - accuracy: 0.7367
Epoch 33/100
804/804 [==============================] - 1s 838us/step - loss: 0.5400 - accuracy: 0.7370
Epoch 34/100
804/804 [==============================] - 1s 928us/step - loss: 0.5402 - accuracy: 0.7369
Epoch 35/100
804/804 [==============================] - 1s 870us/step - loss: 0.5404 - accuracy: 0.7367
Epoch 36/100
804/804 [==============================] - 1s 869us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 37/100
804/804 [==============================] - 1s 901us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 38/100
804/804 [==============================] - 1s 891us/step - loss: 0.5396 - accuracy: 0.7365
Epoch 39/100
804/804 [==============================] - 1s 876us/step - loss: 0.5396 - accuracy: 0.7370
Epoch 40/100
804/804 [==============================] - 1s 866us/step - loss: 0.5396 - accuracy: 0.7378
Epoch 41/100
804/804 [==============================] - 1s 860us/step - loss: 0.5395 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 1s 862us/step - loss: 0.5391 - accuracy: 0.7370
Epoch 43/100
804/804 [==============================] - 1s 877us/step - loss: 0.5396 - accuracy: 0.7370
Epoch 44/100
804/804 [==============================] - 1s 878us/step - loss: 0.5387 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 1s 944us/step - loss: 0.5389 - accuracy: 0.7377
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7375
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7386
Epoch 50/100
804/804 [==============================] - 1s 922us/step - loss: 0.5384 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 1s 899us/step - loss: 0.5386 - accuracy: 0.7374
Epoch 52/100
804/804 [==============================] - 1s 906us/step - loss: 0.5379 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 1s 900us/step - loss: 0.5383 - accuracy: 0.7381
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 1s 950us/step - loss: 0.5378 - accuracy: 0.7389
Epoch 59/100
804/804 [==============================] - 1s 916us/step - loss: 0.5383 - accuracy: 0.7383
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 1s 976us/step - loss: 0.5374 - accuracy: 0.7395
Epoch 62/100
804/804 [==============================] - 1s 901us/step - loss: 0.5377 - accuracy: 0.7383
Epoch 63/100
804/804 [==============================] - 1s 931us/step - loss: 0.5375 - accuracy: 0.7389
Epoch 64/100
804/804 [==============================] - 1s 969us/step - loss: 0.5375 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 1s 923us/step - loss: 0.5373 - accuracy: 0.7397
Epoch 66/100
804/804 [==============================] - 1s 902us/step - loss: 0.5373 - accuracy: 0.7379
Epoch 67/100
804/804 [==============================] - 1s 894us/step - loss: 0.5372 - accuracy: 0.7398
Epoch 68/100
804/804 [==============================] - 1s 916us/step - loss: 0.5374 - accuracy: 0.7389
Epoch 69/100
804/804 [==============================] - 1s 897us/step - loss: 0.5373 - accuracy: 0.7386
Epoch 70/100
804/804 [==============================] - 1s 924us/step - loss: 0.5369 - accuracy: 0.7387
Epoch 71/100
804/804 [==============================] - 1s 922us/step - loss: 0.5373 - accuracy: 0.7384
Epoch 72/100
804/804 [==============================] - 1s 898us/step - loss: 0.5370 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 1s 912us/step - loss: 0.5367 - accuracy: 0.7400
Epoch 74/100
804/804 [==============================] - 1s 948us/step - loss: 0.5370 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 76/100
804/804 [==============================] - 1s 980us/step - loss: 0.5367 - accuracy: 0.7374
Epoch 77/100
804/804 [==============================] - 1s 871us/step - loss: 0.5367 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 1s 879us/step - loss: 0.5366 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 1s 875us/step - loss: 0.5368 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 1s 872us/step - loss: 0.5365 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 1s 895us/step - loss: 0.5367 - accuracy: 0.7395
Epoch 82/100
804/804 [==============================] - 1s 872us/step - loss: 0.5365 - accuracy: 0.7390
Epoch 83/100
804/804 [==============================] - 1s 889us/step - loss: 0.5364 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 1s 916us/step - loss: 0.5364 - accuracy: 0.7388
Epoch 85/100
804/804 [==============================] - 1s 891us/step - loss: 0.5364 - accuracy: 0.7395
Epoch 86/100
804/804 [==============================] - 1s 931us/step - loss: 0.5364 - accuracy: 0.7395
Epoch 87/100
804/804 [==============================] - 1s 919us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 1s 938us/step - loss: 0.5363 - accuracy: 0.7386
Epoch 89/100
804/804 [==============================] - 1s 867us/step - loss: 0.5359 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 1s 883us/step - loss: 0.5360 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 1s 923us/step - loss: 0.5361 - accuracy: 0.7396
Epoch 92/100
804/804 [==============================] - 1s 918us/step - loss: 0.5364 - accuracy: 0.7388
Epoch 93/100
804/804 [==============================] - 1s 882us/step - loss: 0.5361 - accuracy: 0.7394
Epoch 94/100
804/804 [==============================] - 1s 889us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 97/100
804/804 [==============================] - 1s 908us/step - loss: 0.5356 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 1s 877us/step - loss: 0.5356 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 1s 882us/step - loss: 0.5357 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 1s 879us/step - loss: 0.5359 - accuracy: 0.7396

In [64]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5558 - accuracy: 0.7277 - 292ms/epoch - 1ms/step
Loss: 0.5557864904403687, Accuracy: 0.7276967763900757

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE